.done-stream{
    margin: 30px;
    padding: 30px;
    font-size: 25px;
    background-color: whitesmoke;
    border: 1px solid wheat;
    direction: rtl;
}
.done-stream:hover{
    background-color: #e0e0e0;

}