.title-stream{
    margin: 30px;
    padding: 30px;
    font-size: 25px;
    background-color: whitesmoke;
    border: 1px solid wheat;
    border-radius: 10px;
}
.title-str {
    padding: 20px;
}
.title-stream:hover{
    background-color: #e0e0e0;

}